body {
  color: rgb(57, 6, 6);
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  background-color: beige;
  font-style: italic;
  text-decoration: double;
  text-transform: capitalize;


}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 90px;
  /* background: rgb(0, 0, 0); */
  box-shadow: 0 5px 10px wheat;
  z-index: 999;
  width: 100%;
  position: fixed;
}

.bi-nav {

  background-color: beige;
  border-radius: 10px;
  padding: 5px 20px;
  border: 3px;
  color: rgb(57, 6, 6);
  font-size: 35px;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 10px;
  row-gap: 10px;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  text-shadow: 0px 0px 5px rgb(57, 6, 6);
}

.logo {
  color: rgb(57, 6, 6);
  text-decoration: none;
  padding-left: 200px;
  text-shadow: 0px 0px 5px rgb(57, 6, 6);

}

#navbar li a {
  text-decoration: none;
  font-size: 30px;
  font-weight: 400;
  color: rgb(60, 60, 60);
  transition: 0.3 ease;
  text-shadow: 0px 0px 5px rgb(57, 6, 6);

}

#navbar li a:hover {
  color: rgb(57, 6, 6);

}

#navbar li a.active {
  color: rgb(57, 6, 6);
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: rgb(57, 6, 6);
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#mobile {
  display: none;
  align-items: center;

}

#close {
  display: none;
}

#hero {
  background-image: url("/image/in9LepMURKAmFxbb2QkqG9.jpg");
  height: 100vh;
  width: 100%;
  background-position: top 25% right 0;
  /* padding: 10px 10px; */
  padding-left: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  padding: 200px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;


}

#hero h3 {
  text-shadow: 0px 0px 2px rgb(57, 6, 6);
  font-size: 55px;
  font-weight: 100;

}

#hero h4 {
  padding-bottom: 15px;
  font-size: 30px;
}

#hero h2 {
  color: black;
  font-size: 30px;
}

#hero p {
  font-size: 26px;
}

#hero button {
  background-image: url(/image/in9LepMURKAmFxbb2QkqG9.jpg);
  background-color: transparent;
  color: rgb(57, 6, 6);
  text-shadow: 0px 0px 2px rgb(57, 6, 6);
  border: 0;
  padding: 14px 88px 14px 65px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 800;
  border-radius: 10px;
  font-size: 35px;
}

.section-p1 {
  padding: 20px 30px;
}

#shop .shop-box {
  max-width: 450px;
  text-align: center;
  padding: 20px 0px;
  box-shadow: 0px 0px 34px rgb(57, 6, 6);
  border: 1px solid beige;
  border-radius: 4px;
  margin-top: 60px;
  transition: all 0.35s ease-in-out;


}

#shop .shop-box:hover {
  box-shadow: 0px 0px 40px black;
  transform: translateY(-8px);


}

#products {
  margin-bottom: 100px;
  height: 75vh;
}

#products h1 {
  text-shadow: 0px 0px 5px rgb(57, 6, 6);
  font-weight: 600;
  font-size: 80px;


}

#products h3 {
  text-shadow: 0px 0px 5px rgb(57, 6, 6);
  font-weight: 600;
  font-size: 50px;
}

.pro {
  width: 530px;
  background: #ffffff;
  border-radius: 18px;
  /* overflow: hidden; */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.12);
  padding-bottom: 15px;
  transition: all 0.35s ease-in-out;
  cursor: pointer;
  padding: 10px;
  margin-top: 20px;

}

.pro:hover {
  transform: translateY(-8px);
  box-shadow: 0px 0px 34px rgb(57, 6, 6);
}

.pro img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-bottom: 2px solid #eee;
  border-radius: 10px;
}

.description {
  padding: 15px;
  text-align: left;
}

.description span {
  font-size: 24px;
  color: #777;
  font-weight: 500;
}

.description h5 {
  margin-top: 5px;
  font-size: 25px;
  font-weight: 600;
  color: #333;
}

.star i {
  font-size: 16px;
  margin-top: 5px;
  color: #f6b100;
}

.description h4 {
  margin-top: 8px;
  font-size: 20px;
  color: rgb(57, 6, 6);
  font-weight: 700;
}

.description button {
  margin-top: 12px;
  background: rgb(57, 6, 6);
  padding: 10px 14px;
  border-radius: 13px;
  border: none;
  transition: 0.3s;
}

.description button:hover {
  background: rgb(57, 6, 6);
}

.description button a {
  color: #fff;
  font-size: 18px;
}

.cart-p {
  font-size: 18px;
  color: beige;

}

.buy-button {
  font-size: 15px;
  color: beige;
  padding: 10px 5px;
}

#banner {
  height: 300px;
  width: 100%;
  margin-top: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url(/image/jset2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

#banner h1 {
  color: rgb(244, 236, 236);
  font-size: 80px;
  text-shadow: 2px 2px 2px rgb(57, 6, 6);

}

#banner span {
  color: rgb(57, 6, 6);
  font-size: 80px;
  text-shadow: 2px 2px 2px rgb(237, 233, 233);

}

#banner .explore-btn {
  font-size: 20px;
  font-weight: 700;
  padding: 10px 30px;
  color: rgb(57, 6, 6);
  background-color: beige;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.3 ease;
}

#banner .explore-btn:hover {
  background: rgb(57, 6, 6);
  color: beige;
}

#new-arival {
  width: 100%;
  margin-top: 300px;
}

.arival-col {
  padding: 5px 5px;
  border-radius: 18px;
  /* overflow: hidden; */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.12);
  padding-bottom: 15px;
  transition: all 0.35s ease-in-out;
  cursor: pointer;
  margin: 10px 10px;
}

.arival-col:hover {
  box-shadow: 0 4px 15px rgb(57, 6, 6);
  transform: translateY(-8px);


}

#new-arrival h1 {
  font-size: 60px;
  font-weight: 600;
  text-shadow: 0px 0px 5px rgb(57, 6, 6);
}

#new-arrival img {
  border-radius: 18px;
}

#sm-banner .banner-box {
  height: 80vh;
  min-width: 500px;
  margin-top: 100px;
  background-image: url(/image/dressp.jpg);
  background-size: cover;
  padding-left: 20px;
  padding-top: 20px;
}

#sm-banner h1 {
  color: rgb(13, 13, 64);
  font-size: 45px;
  font-weight: 700;
}

#sm-banner h2 {
  font-size: 40px;
  font-weight: 500;

}

#sm-banner span {
  font-size: 17px;
  font-weight: 300;

}

#sm-banner .banner-box2 {
  height: 80vh;
  min-width: 500px;
  margin-top: 100px;
  background-image: url(/image/dress3.jpg);
  background-size: cover;
  padding-left: 20px;
  padding-top: 300px;

}

#sm-banner .banner-box2 h2 {
  color: rgb(57, 6, 6);
  font-size: 30px;
  font-weight: 400;

}

#sm-banner .banner-box2 h1 {
  color: rgb(228, 192, 8);
  font-size: 45px;
  font-weight: 800;
}

.Collection-button {
  font-size: 15px;
  font-weight: 400;
  padding: 8px 8px;
  color: rgb(228, 192, 8);
  background-color: transparent;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid rgb(228, 192, 8);
  outline: none;
  transition: 0.2s;
  margin-top: 10px;
}

#sm-banner .Collection-button:hover {
  background: rgb(228, 192, 8);
  color: beige;

}

.explore-btn1 {
  font-size: 15px;
  font-weight: 400;
  padding: 8px 8px;
  color: rgb(13, 13, 64);
  background-color: transparent;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid rgb(57, 6, 6);
  outline: none;
  transition: 0.2s;
  margin-top: 10px;
}

#sm-banner .explore-btn1:hover {
  background: rgb(13, 13, 64);
  color: beige;

}

#banner3 {
  margin-top: 100px;
}

#banner3 .banner-box1 {
  height: 44vh;
  min-width: 300px;
  background-image: url(/image/winter3.webp);
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 10px;
  color: beige;
  padding-top: 70px;
}

#banner3 .banner-box2 {
  height: 44vh;
  min-width: 300px;
  color: beige;
  background-image: url(/image/heels2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 20px;
  padding-top: 70px;
}

#banner3 .banner-box3 {
  height: 44vh;
  min-width: 300px;
  color: beige;
  background-image: url(/image/foundatuon2.webp);
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 20px;
  padding-top: 70px;
}

#newsletter {
  margin-top: 50px;
  background-image: url("/image/fpundation.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30% 50%;
  background-color: rgb(57, 6, 6);
  padding: 10px;


}

#newsletter p {
  font-size: 20px;
  font-weight: 700;
  color: rgb(57, 6, 6);
}

#newsletter p span {
  font-size: 30px;
  font-weight: 700;
  color: beige;
}

#newsletter h2 {
  font-size: 30px;
  font-weight: 700;
  color: rgb(84, 48, 48);
}

#newsletter input {
  height: 30px;
  padding: 20px 20px;
  font-size: 20px;
  border-radius: 5px;
  width: 100%;
  outline: none;
  background-color: rgb(245, 235, 220);

}

#newsletter .sign-button {
  background-color: bisque;
  color: rgb(57, 6, 6);
  border-radius: 5px;
  padding: 8px 20px;



}

#footer {
  padding-top: 25px;
  background-color: bisque;
}

#footer .logo-footer {
  color: rgb(57, 6, 6);
  text-decoration: none;
  padding-top: 20px;
  font-size: 45px;
  text-shadow: 0px 0px 5px rgb(57, 6, 6);

}

#footer h1 {
  padding-top: 23px;
}

#footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

#footer a {
  text-decoration: none;
  font-size: 25px;
  color: rgb(57, 6, 6);
}

#footer a:hover {
  color: blue;
  text-decoration: underline;
}

#footer p {
  font-size: 20px;
}

#footer .follow {
  font-size: 20px;

}

#footer .follow i {
  cursor: pointer;
  font-size: 23px;
}

#footer .follow i:hover {
  color: rgb(112, 191, 244);
}

#footer .install .row img {
  height: 80px;
  width: 100px;
  border-radius: 5px;
}

#footer .install .row img:hover {
  cursor: pointer;
}

#footer .install h2 {
  padding-top: 23px;

}

#footer .install .row p {
  margin-top: 50px;
}

#footer .copyright {
  text-align: center;
}

/* media query  */

@media (max-width:799px) {
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0px;
    right: -300px;
    align-items: center;
    height: 100vh;
    width: 200px;
    justify-content: flex-start;
    box-shadow: 0px 0px 34px rgb(57, 6, 6);
    padding: 80px 0 0 10px;
    transition: 0.2s;
  }

  #navbar.active {
    right: 0px;
  }

  #mobile {
    position: fixed;
    right: 0px;
    display: flex;
    align-items: center;
    padding-left: 50px;
    cursor: pointer;
    margin-left: 20px;

  }

  #mobile i {
    color: rgb(57, 6, 6);
    font-size: 25px;
  }

  #header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 90px;
    /* background: rgb(0, 0, 0); */
    box-shadow: 0 5px 10px wheat;
    z-index: 999;
    width: 100%;
    position: fixed;
  }

  #navbar li {
    margin-bottom: 25px;

  }

  #close {
    display: initial;
    position: absolute;
    top: 30px;
    left: 10px;
    color: black;
    font-size: 25px;

  }

  #lg-bag {
    display: none;
  }

  #hero {
    height: 70vh;
    padding: 0 80px;
    background-position: top 30% right 30%;
  }

  .logo {
    text-decoration: none;
    padding-left: 10px;
    text-shadow: 0px 0px 5px rgb(57, 6, 6);

  }


  #hero h3 {
    text-shadow: 0px 0px 2px rgb(57, 6, 6);
    font-size: 25px;
    font-weight: 100;

  }

  #hero h4 {
    padding-bottom: 10px;
    font-size: 20px;
  }

  #hero h2 {
    color: black;
    font-size: 30px;
  }

  #hero p {
    font-size: 26px;
  }

  #hero button {
    padding: 10px 50px 10px 50px;
    cursor: pointer;
    font-weight: 500;
    font-size: 25px;
  }

  #shop .shop-box {
    max-width: 150px;
    text-align: center;
    padding: 20px 0px;
    box-shadow: 0px 0px 34px rgb(57, 6, 6);
    border: 1px solid beige;
    border-radius: 4px;
    margin-top: 60px;
    transition: all 0.35s ease-in-out;


  }

  #shop .shop-box:hover {
    box-shadow: 0px 0px 40px black;
    transform: translateY(-8px);


  }

  #shop img {
    width: 120px;
    height: 170px;
  }

  #shop h2 {
    font-size: 18px;
  }

  #products {
    margin-bottom: 100px;
    height: 30vh;
  }

  #products h1 {
    text-shadow: 0px 0px 5px rgb(57, 6, 6);
    font-weight: 600;
    font-size: 50px;


  }

  #products h3 {
    text-shadow: 0px 0px 5px rgb(57, 6, 6);
    font-weight: 600;
    font-size: 30px;
  }

  .pro {
    width: 200px;
    padding-bottom: 15px;
    cursor: pointer;
    margin-top: 20px;

  }

  .pro:hover {
    transform: translateY(-8px);
    box-shadow: 0px 0px 34px rgb(57, 6, 6);
  }

  .pro img {
    width: 100%;
    height: 200px;

  }

  .description {
    padding: 10px;
    text-align: left;
  }

  .description span {
    font-size: 14px;
    font-weight: 300;
  }

  .description h5 {
    margin-top: 5px;
    font-size: 16px;

  }

  .star i {
    font-size: 14px;
    margin-top: 5px;
  }

  .description h4 {
    margin-top: 8px;
    font-size: 18px;

  }

  .description button {
    margin-top: 12px;
    padding: 8px 10px;

  }

  .description button:hover {
    background: rgb(57, 6, 6);
  }

  .description button a {
    color: #fff;
    font-size: 18px;
  }

  #products .description .cart-p {
    font-size: 8px;
  }

  .buy-button {
    font-size: 15px;
    padding: 10px 5px;
  }

  #banner {
    height: 180px;
    width: 100%;
  }

  #banner h1 {
    font-size: 45px;

  }

  #banner span {
    font-size: 50px;

  }

  #banner .explore-btn {
    font-size: 15px;
    font-weight: 700;
    padding: 5px 10px;
    cursor: pointer;

  }

  #banner .explore-btn:hover {
    background: rgb(57, 6, 6);
    color: beige;
  }

  #new-arival {
    width: 100%;
    height: 50vh;
    margin-top: 100px;
  }

  .arival-col {
    height: 450px;
    margin-top: 30px;
  }

  .arival-col:hover {
    box-shadow: 0 4px 15px rgb(57, 6, 6);
    transform: translateY(-8px);
  }

  #new-arrival h1 {
    font-size: 45px;
    font-weight: 200;
  }

  #new-arrival img {
    border-radius: 18px;
  }

  #new-arrival .buy-button {
    font-size: 12px;
  }

  #new-arrival .cart-button {
    font-size: 12px;
    padding: 10px 10px;
  }

  #sm-banner .banner-box {
    height: 80vh;
    min-width: 300px;

  }


  #sm-banner h1 {
    color: rgb(13, 13, 64);
    font-size: 45px;
    font-weight: 700;
  }

  #sm-banner h2 {
    font-size: 40px;
    font-weight: 500;

  }

  #sm-banner span {
    font-size: 17px;
    font-weight: 300;

  }

  #sm-banner .banner-box2 {
    height: 80vh;
    min-width: 500px;
    margin-top: 100px;
    background-image: url(/image/dress3.jpg);
    background-size: cover;
    padding-left: 20px;
    padding-top: 300px;

  }

  #sm-banner .banner-box2 h2 {
    color: rgb(57, 6, 6);
    font-size: 30px;
    font-weight: 400;

  }

  #sm-banner .banner-box2 h1 {
    color: rgb(228, 192, 8);
    font-size: 45px;
    font-weight: 800;
  }

  .Collection-button {
    font-size: 15px;
    font-weight: 400;
    padding: 8px 8px;
    color: rgb(228, 192, 8);
    background-color: transparent;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid rgb(228, 192, 8);
    outline: none;
    transition: 0.2s;
    margin-top: 10px;
  }

  #sm-banner .Collection-button:hover {
    background: rgb(228, 192, 8);
    color: beige;

  }

  .explore-btn1 {
    font-size: 15px;
    font-weight: 400;
    padding: 8px 8px;
    color: rgb(13, 13, 64);
    background-color: transparent;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid rgb(57, 6, 6);
    outline: none;
    transition: 0.2s;
    margin-top: 10px;
  }

  #sm-banner .explore-btn1:hover {
    background: rgb(13, 13, 64);
    color: beige;

  }

  #banner3 {
    margin-top: 80px;
  }

  #banner3 .banner-box1 {
    height: 20vh;
    min-width: 200px;
    padding-top: 50px;
  }

  #banner3 .banner-box2 {
    height: 20vh;
    min-width: 200px;
    padding-top: 50px;
  }

  #banner3 .banner-box3 {
    height: 40vh;
    min-width: 300px;
    margin-top: 20px;
    font-size: 60px;
    text-shadow: 10px 0px 10px rgb(57, 6, 6);
  }

  #newsletter {
    margin-top: 50px;

  }

  #newsletter p {
    font-size: 20px;
    font-weight: 400;
  }

  #newsletter p span {
    font-size: 25px;
    font-weight: 700;
  }

  #newsletter h2 {
    font-size: 30px;
    font-weight: 500;
  }

  #newsletter input {
    height: 30px;
    width: 100%;

  }

  #newsletter .sign-button {
    font-size: 15px;
    padding: 0px 30px;
  }

  #footer {
    padding-top: 25px;
  }

  #footer h1 {
    font-size: 30px;
    font-weight: 400;
  }

  #footer .logo-footer {
    font-size: 40px;
  }

  #footer a {
    font-size: 20px;
  }


  #footer p {
    font-size: 20px;
  }

  #footer .follow {
    font-size: 20px;

  }

  #footer .follow i {
    font-size: 18px;
  }

  #footer .install .row img {
    height: 50px;
    width: 80px;
    margin-top: 10px;
  }

  #footer .install .row img:hover {
    cursor: pointer;
  }

  #footer .install h2 {
    padding-top: 23px;

  }

  #footer .install .row p {
    margin-top: 50px;
  }

  #footer .copyright {
    text-align: center;
  }

}