
body{
    color: rgb(57, 6, 6);
font-family: "Lobster", sans-serif;
  font-weight: 1000;
  font-style: italic;
}

#header{
display: flex;
align-items: center;
justify-content: space-between;
padding:  10px 90px;
/* background: rgb(0, 0, 0); */
box-shadow: 0 5px 10px wheat;
z-index: 999;
width: 100%;
position: fixed;
}
.bi{
  color:  rgb(57, 6, 6);
}
#navbar{
  display: flex;
  align-items: center;
  justify-content: center;
}
#navbar li{
  list-style: none;
  padding: 0 20px;
  position: relative;

}
.logo{
    color: rgb(57, 6, 6);
    text-decoration: none;
    padding-left: 200px;
}
#navbar li a{
  text-decoration: none;
  font-size: 25px;
  font-weight: 800;
  color: rgb(60, 60, 60);
  transition: 0.3 ease;
}
#navbar li a:hover{
color: rgb(57, 6, 6);

}
#navbar li a.active{
color: rgb(57, 6, 6);
}
#navbar li a.active::after,#navbar li a:hover::after{
content: "";
width: 30%;
height: 2px;
background:rgb(57, 6, 6);
position: absolute;
bottom: -4px;
left: 20px;
}
#hero{
  background-image: url("/image/in9LepMURKAmFxbb2QkqG9.jpg");
  height: 80vh;
  width: 100%;
  background-position: top 25% right 0;
  /* padding: 10px 10px; */
  padding-left: 200px;
  padding-top: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;


}
#hero h4{
  padding-bottom: 15px;
}
#hero h2{
color: black;

}
#hero button{
background-image: url(/image/fpundation.jpg);
background-color: transparent;
color: rgb(57, 6, 6);
border: 0;
padding: 14px 88px 14px 65px;
background-repeat: no-repeat;
cursor: pointer;
font-weight: 800;
border-radius: 10px;
font-size: 25px;
}
.section-p1{
  padding: 20px 30px;
}
#shop .shop-box{
  width: 250px;
  text-align: center;
  padding: 15px 10px;
  box-shadow: 0px 0px 34px rgb(57, 6, 6);
  border: 1px solid beige;
  border-radius: 4px;
  margin: 15px 0px;

}
#shop .shop-box:hover{
  box-shadow: 0px 0px 40px black;

}
#products .pro{
  width: 25%;
  height: 50%;
  min-width: 250px;
  padding: 10px 12px;
  border: 2px solid beige;
  text-align: left;
  cursor: pointer;
  box-shadow: 0px 0px 40px black;
  transition: 0.2s ease;

}
#products .pro:hover{
    box-shadow: 0px 0px 34px rgb(57, 6, 6);

}
#products .pro .cart-p{
  text-align: end;
  width: 40px;
  height: 40px;
  line-height: 4px;
  border-radius: 50px;
  background-color: beige;
  font-weight: 600;
  color:  rgb(57, 6, 6);
  border: 2px solid beige;
}
