
body{
    color: rgb(57, 6, 6);
font-family: "Lobster", sans-serif;
  font-weight: 1000;
  font-style: italic;
}

#header{
display: flex;
align-items: center;
justify-content: space-between;
padding:  10px 90px;
/* background: rgb(0, 0, 0); */
box-shadow: 0 5px 10px wheat;
z-index: 999;
width: 100%;
position: fixed;
}
.bi-nav{

  background-color: beige;
  border-radius: 10px;
  padding: 5px 20px;
  border: 3px;
  color:  rgb(57, 6, 6);
  font-size: 35px;
}
#navbar{
  display: flex;
  align-items: center;
  justify-content: center;
}
#navbar li{
  list-style: none;
  padding: 0 15px;
  display: flex;
  justify-content: space-evenly;
  position: relative;

}
.logo{
    color: rgb(57, 6, 6);
    text-decoration: none;
    padding-left: 200px;
}
#navbar li a{
  text-decoration: none;
  font-size: 25px;
  font-weight: 800;
  color: rgb(60, 60, 60);
  transition: 0.3 ease;
}
#navbar li a:hover{
color: rgb(57, 6, 6);

}
#navbar li a.active{
color: rgb(57, 6, 6);
}
#navbar li a.active::after,#navbar li a:hover::after{
content: "";
width: 30%;
height: 2px;
background:rgb(57, 6, 6);
position: absolute;
bottom: -4px;
left: 20px;
}
#hero{
  background-image: url("/image/in9LepMURKAmFxbb2QkqG9.jpg");
  height: 90vh;
  width: 100%;
  background-position: top 25% right 0;
  /* padding: 10px 10px; */
  padding-left: 200px;
  padding-top: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;


}
#hero h4{
  padding-bottom: 15px;
}
#hero h2{
color: black;

}
#hero button{
background-image: url(/image/fpundation.jpg);
background-color: transparent;
color: rgb(57, 6, 6);
border: 0;
padding: 14px 88px 14px 65px;
background-repeat: no-repeat;
cursor: pointer;
font-weight: 800;
border-radius: 10px;
font-size: 25px;
}
.section-p1{
  padding: 20px 30px;
}
#shop .shop-box{
  width: 250px;
  text-align: center;
  padding: 15px 10px;
  box-shadow: 0px 0px 34px rgb(57, 6, 6);
  border: 1px solid beige;
  border-radius: 4px;
  margin: 15px 0px;
      transition: all 0.35s ease-in-out;


}
#shop .shop-box:hover{
  box-shadow: 0px 0px 40px black;
      transform: translateY(-8px);


}
.pro {
    width: 330px;
    background: #ffffff;
    border-radius: 18px;
    /* overflow: hidden; */
    box-shadow: 0 4px 15px rgba(0,0,0,0.12);
    padding-bottom: 15px;
    transition: all 0.35s ease-in-out;
    cursor: pointer;
    padding: 10px;
    
   
    
}
.pro-container{
 display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 500px;

}

.pro:hover {
    transform: translateY(-8px);
  box-shadow: 0px 0px 34px rgb(57, 6, 6);
}

.pro img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom: 2px solid #eee;
    border-radius: 10px;
}

.description {
    padding: 15px;
    text-align: left;
}

.description span {
    font-size: 14px;
    color: #777;
    font-weight: 500;
}

.description h5 {
    margin-top: 5px;
    font-size: 18px;
    font-weight: 600;
    color: #333;
}

.star i {
    font-size: 16px;
    margin-top: 5px;
    color: #f6b100;
}

.description h4 {
    margin-top: 8px;
    font-size: 20px;
color: rgb(57, 6, 6);
    font-weight: 700;
}

.description button {
    margin-top: 12px;
    background: rgb(57, 6, 6);
    padding: 10px 14px;
    border-radius: 13px;
    border: none;
    transition: 0.3s;
}

.description button:hover {
    background: rgb(57, 6, 6);
}

.description button a {
    color: #fff;
    font-size: 18px;
}

.cart-p {
    font-size: 20px;
    color: beige;
}